*{
    padding: 0;
    margin: 0;
    background-color: white;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
}
nav .nav-bar{
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: black;
    flex-direction: row;
}
nav .nav-bar ul{
    width: 80vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    background-color: transparent;
}
nav .nav-bar ul li{
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
}
nav .nav-bar ul li a{
    background-color: transparent;
    text-decoration: none;
    color: inherit;

}
nav .nav-bar ul li:hover{
    cursor: pointer;
    font-size: larger;
    color: white;
}
.column-titles{
    background-color: black;
}
.column-titles th{
   background-color: aqua;
}
.hero{
    margin-top:10vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    background-color: white;
    flex-direction: column;
}