<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Customer List</title>
</head>
<body>
<h1>Customer List</h1>
<table>
  <thead>
  <tr class="column-titles">
    <th>ID</th>
    <th>Name</th>
    <th>SSN</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer : ${customers}">
    <td th:text="${customer.id}"></td>
    <td th:text="${customer.name}"></td>
    <td th:text="${customer.ssn}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>