<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Order List</title>
</head>
<body>
<div class="background">
  <nav>
    <div class="nav-bar">
      <button type="button" onclick="placeOrder(event, '/orders/buy')">Place Order</button>
      <button type="button" onclick="getOrderById(event, '/orders/getById')">Find By ID</button>
      <ul>
        <li><a th:href="@{/customers}">Customer Handler</a></li>
        <li><a th:href="@{/items}">Item Handler</a></li>
        <li><a th:href="@{/orders}">Order Handler</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero">
<h1>Order List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Order</th>
    <th>Item</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orders : ${orders}">
    <td th:text="${orders.id}"></td>
    <td th:text="${orders.customer.id}"></td>
    <td>
      <div th:each="item : ${orders.items}">
        <span th:text="${item.id}"></span>
      </div>
    </td>
    <td th:text="${orders.date}"></td>
    <td>
      <button type="button" th:id="${orders.id}" onclick="deleteOrder(event, id)">Delete</button>
    </td>
    <td>
      <button type="button" th:id="${orders.id}" onclick="updateOrder(event, id)">Update</button>
    </td>
  </tr>
  </tbody>
</table>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>