<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Order</th>
    <th>Item</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer : ${customer}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.customer}"></td>
    <td th:text="${order.items}"></td>
    <td th:text="${order.timeStamp}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>